.button-remove {
  box-sizing: border-box;
  display: block;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  border: 0px;
  color: #f5e5e7;
  margin: 0 auto;
  width: 184px;
  height: 23px;
}
